:root {
  --main-font: arial, helvetica, sans-serif;
  --main-size: 13px;
  --main-spacing: 1px;
  --main-weight: normal;
  --main-color: #444444;
  --alt-size: 15px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

.flex-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.banner-homepage {
  width: 100%;
  height: 75vh;
  background-image: url("https://live.staticflickr.com/65535/51760374542_e778035260_b.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}

.rounded-div {
  display: flex;
  /* text-align: center; */
  width: 90%;
  max-width: 730px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 1;
}

.foto-over-mij {
  width: 270px;
  height: 330px;
  margin: 2rem 0 2rem 2rem;
}

.text-wrap {
  width: 330px;
  margin-left: 3rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.rounded-div h1 {
  margin: 3rem 0 0.1rem 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 10px;
  color: #030303;
}

.rounded-div h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #51615f;
  font-weight: lighter;
  word-spacing: 8px;
  letter-spacing: 5px;
  margin-bottom: 1rem;
}

.rounded-div p {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-weight: normal;
  color: #444444;
}

@media screen and (max-width: 1100px) {
  .rounded-div {
    top: 75%;
  }
}

@media screen and (max-width: 992px) {
  .text-wrap {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 710px) {
  .rounded-div {
    width: 500px;
    flex-direction: column;
    top: 90%;
  }
  .foto-over-mij {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .text-wrap {
    margin: 0 auto 2rem 6rem;
  }
}

@media screen and (max-width: 600px) {
  .rounded-div {
    width: 80%;
    top: 95%;
    word-wrap: break-word;
  }
  .text-wrap {
    margin: auto;
    margin-bottom: 1rem;
    width: 80%;
  }
  .rounded-div h1 {
    font-size: 12px;
    margin-top: 1rem;
  }
  .rounded-div h2 {
    font-size: 11px;
  }
  .rounded-div p {
    font-size: 10px;
    font-weight: normal;
  }
}

.tc-outer-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.tc-outer-container h4 {
  color: #030303;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.tc-outer-container .how-help {
  margin-top: 20rem;
  margin-left: 6rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
}

.tc-outer-container .ther-coach {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px !important;
  font-weight: lighter !important;
  color: #51615f;
  margin-left: 6rem;
  margin-top: 1rem;
}

.ther-coach::after {
  content: "";
  margin-top: -1rem;
  position: absolute;
  right: 10rem;
  left: 6rem;
  border-bottom: 3px solid black;
  z-index: -1;
}

.frontity-lazy-image {
  border-radius: 50%;
  width: 92px !important;
  height: 92px !important;
  object-fit: fill;
  margin: 1rem 0 0 7rem;
}

.wrapper-articles {
  display: flex;
  margin: auto;
  width: 90%;
  overflow-x: auto;
  overflow-y: hidden;
  /* align-self: flex-end; */
}

article {
  height: 470px;
  width: 300px;
  margin: auto;
  margin-top: 5rem;
  margin-right: 1rem;
  padding-bottom: 10rem;
  background-color: #fff;
  flex: 0 0 auto;
}

article:first-of-type {
  margin-left: 1rem;
}

article div {
  height: auto !important;
}

article h2 {
  font-family: var(--main-font);
  font-size: 15px;
  font-weight: bold;
  color: #51615f;
  margin-top: 1rem;
  text-align: center;
}

article p {
  font-family: var(--main-font);
  font-size: var(--main-size);
  font-weight: var(--main-weight);
  color: var(--main-color);
  letter-spacing: var(--main-spacing);
  margin: 2rem auto 2rem 1.5rem;
  margin-bottom: 2rem;
  width: 90%;
}

article a {
  text-align: center;
}

article:first-of-type p:first-of-type {
  margin-bottom: -1rem;
}

.lees-meer {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 11px;
  width: 90%;
  /* text-align: center; */
}

@media screen and (max-width: 1100px) {
  .wrapper-articles {
    margin-left: 5rem;
  }
}

@media screen and (max-width: 710px) {
  .tc-outer-container {
    margin-top: 12rem;
  }
  .how-help {
    margin-top: 22rem !important;
  }
  .tc-outer-container h4 {
    margin-top: 13rem;
  }
  .ther-coach {
    margin-left: 5rem;
    font-size: 12px !important;
  }
  .ther-coach::after {
    left: 5rem;
    right: 0;
    margin-top: 2rem;
  }
  article {
    margin-top: 3rem;
    flex: auto auto auto;
    height: 430px;
  }
  .wrapper-articles {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .how-help {
    margin-top: 19rem !important;
  }
  .tc-inner-container {
    overflow-y: hidden;
    margin-top: 0;
  }
}

.reviews-wrapper {
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.reviews-title {
  margin-top: 7rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #51615f;
}

.review-posts-article {
  width: 60vw;
  height: 300px;
  background-color: transparent;
  margin-top: 0;
}

.article-inner-wrapper-reviews {
  display: flex;
  margin-top: 1rem;
  margin-left: 10rem;
}

.review-posts-article p {
  width: 70%;
  margin: 1rem 0 0 1rem;
  font-size: 15px;
  color: var(--main-color);
  font-family: var(--main-font);
  font-weight: var(--main-weight);
  letter-spacing: var(--main-spacing);
}

@media screen and (max-width: 1100px) {
  .review-posts-article {
    width: 100%;
  }
  .reviews-title {
    margin-left: 3rem;
  }
}

@media screen and (max-width: 600px) {
  #citate {
    transform: scale(0.6);
    margin: 0;
  }
  .reviews-title {
    margin-top: 2rem;
  }
  .article-inner-wrapper-reviews {
    margin-left: 0;
    margin: 0;
    width: 100%;
  }
  .review-posts-article {
    margin-top: 0;
  }
}

.over-wrapper {
  height: 42vh;
  background-color: #51615f;
}

.over-inner-wrapper {
  width: 725px;
  height: 405px;
  margin: auto;
  margin-top: 100px;
  background-color: #fff;
  display: flex;
}

.over-text-wrapper {
  /* text-align: center; */
  width: 290px;
  margin: auto;
}

.over-text-wrapper h2,
h4,
p,
a {
  font-family: var(--main-font);
  font-weight: bold;
}

.over-text-wrapper h2 {
  font-size: 40px;
  text-align: center;
}

.over-text-wrapper h2::after {
  content: "";
  margin-top: 5rem;
  position: absolute;
  right: 25rem;
  left: 3rem;
  border-bottom: 2px solid #f4f4f4;
  z-index: -1;
}

.over-text-wrapper h4 {
  font-size: 15px;
  color: #51615f;
}

.name-over-preview {
  margin-top: 4rem;
}

.meer-link-over {
  font-size: 12.5px;
  font-weight: bold;
}

.over-text-wrapper p {
  font-size: 13px;
  word-spacing: 1px;
  letter-spacing: var(--main-spacing);
  font-weight: normal;
  color: var(--main-color);
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.over-inner-wrapper img {
  width: 290px;
  height: 320px;
  margin: auto;
  margin-right: 2.5rem;
}

@media screen and (max-width: 1100px) {
  .over-wrapper {
    height: 60vh;
  }
  .over-inner-wrapper {
    width: 500px;
    height: 600px;
    flex-direction: column;
    top: 350%;
  }
  .over-text-wrapper {
    order: 1;
  }
  .over-text-wrapper p {
    margin-bottom: 2rem;
  }
  .name-over-preview {
    margin-top: 1rem;
  }
  .over-inner-wrapper img {
    margin: auto;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 710px) {
  .over-inner-wrapper {
    top: 380%;
  }
}

@media screen and (max-width: 600px) {
  .over-inner-wrapper {
    top: 390%;
    width: 80%;
  }
}

.werkwijze-outer-wrapper {
  /* height: 130vh; */
  color: rgba(0, 0, 0, 0.02);
  overflow-y: hidden;
  margin-top: 5rem;
  margin-top: 20rem;
}

.werkwijze-inner-wrapper {
  margin: auto;
  /* margin-top: 35vh; */
  text-align: center;
  overflow-y: hidden;
}

.werkwijze-inner-wrapper p {
  word-spacing: 1px;
  letter-spacing: 1px;
}

.werkwijze-inner-wrapper h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: black;
  letter-spacing: 1px;
}

.werkwijze-inner-wrapper h2::before {
  display: inline-block;
  content: "";
  border-top: 3px solid black;
  width: 60%;
  margin: 0 1rem 0 14vw;
  transform: translateY(-0.2rem);
}

.werkwijze-inner-wrapper h4 {
  color: #51615f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: normal;
  margin-top: 0.5em;
  margin-left: 74.5vw;
}

.werkwijze-picture-wrapper {
  width: 60%;
  margin: auto;
  height: 430px;
  margin-top: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.werkwijze-picture-wrapper img {
  width: 290px;
  width: 335px;
  margin: auto;
  margin-right: 1rem;
}

.werkwijze-tarieven-text-wrapper {
  width: 40%;
  margin: auto;
  margin-top: 13vh;
  margin-bottom: 8vh;
}

.werkwijze-tarieven-text-wrapper p {
  font-family: var(--main-font);
  font-size: 12.5px;
  font-weight: normal;
  color: var(--main-color);
  letter-spacing: var(--main-spacing);
  width: 90%;
  /* text-align: center; */
}

.werkwijze-inner-wrapper a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.5px;
  font-weight: bold;
  color: #000;
}

@media screen and (max-width: 1100px) {
  .werkwijze-picture-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    width: unset;
    height: 450px;
    justify-content: unset;
    align-items: unset;
  }
  .werkwijze-picture-wrapper img {
    margin-right: 1rem;
  }
  .werkwijze-picture-wrapper img:first-of-type {
    margin-left: 1rem;
  }
  .werkwijze-inner-wrapper h2 {
    font-size: 12px;
  }
  .werkwijze-inner-wrapper h4 {
    font-size: 12px;
  }
}

@media screen and (max-width: 710px) {
  .werkwijze-inner-wrapper h4 {
    margin-left: 27rem;
  }
  .werkwijze-inner-wrapper h2::before {
    width: 60%;
    margin-left: 2rem;
    margin-top: 6rem;
  }
  .werkwijze-picture-wrapper {
    overflow-x: visible;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .werkwijze-inner-wrapper h2:before {
    margin-left: 0;
    margin-top: 4rem;
  }
  .werkwijze-picture-wrapper {
    margin-top: -5rem;
  }
  .werkwijze-picture-wrapper img {
    width: 50%;
    height: 50%;
  }
  .werkwijze-tarieven-text-wrapper {
    margin-top: 0;
    margin-bottom: 3rem;
    width: 100%;
    margin: auto !important;
  }
  .werkwijze-tarieven-text-wrapper p {
    margin: auto;
  }
  .werkwijze-inner-wrapper h4 {
    font-size: 10px;
    margin-left: 70%;
  }
}

.meer-wrapper {
  height: 100vh;
  margin-top: 5rem;
}

.meer-title {
  margin-top: 7vh;
  margin-left: 15vh;
  margin-bottom: 6rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.meer-title::after {
  display: inline-block;
  content: "";
  border-top: 3px solid black;
  width: 85%;
  margin: 0 0 0 2vw;
  transform: translateY(-0.2rem);
}

.meer-inner-wrapper {
  width: 950px;
  height: 620px;
  margin: 0 auto 0 auto;
  display: flex;
  transform: rotate(180deg);
}

.inside-inner-wrapper-div {
  width: 300px;
  height: 560px;
  margin: 0 auto auto auto;
  background-color: rgba(0, 0, 0, 0.04);
  position: relative;
}

.prev-img-wrapper {
  width: 210px;
  height: 295px;
  margin: auto;
}

.meer-inner-wrapper div div img {
  width: 210px;
  height: 295px;
  transform: rotate(180deg);
}

.prev-text-wrapper {
  height: 325px !important;
  width: 85% !important;
  bottom: 0;
  margin: auto;
  transform: rotate(180deg);
  /* text-align: center; */
  padding: 1.5rem;
}

.prev-text-wrapper h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #51615f;
  margin-bottom: 5rem;
}

#journ-text-wrapper h4 {
  margin-bottom: 1.5rem;
}

.prev-text-wrapper p {
  font-family: var(--main-font);
  font-size: var(--main-size);
  font-weight: normal;
  color: var(--main-color);
  letter-spacing: var(--main-spacing);
  margin-bottom: 2rem;
}

#journ-text-wrapper p {
  margin-bottom: 1rem;
}

#blog-text-wrapper {
  margin-top: -0.5rem;
}

.prev-text-wrapper a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-top: -100rem;
}

@media screen and (max-width: 1100px) {
  .meer-title {
    font-size: 12px;
    margin-bottom: 0;
  }
  .meer-inner-wrapper {
    width: unset;
    overflow-y: hidden;
    overflow-x: auto;
    margin-top: 0;
  }
  .inside-inner-wrapper-div {
    margin-right: 1rem;
    height: 450px;
  }
  .meer-inner-wrapper div div img {
    height: 195px;
    width: 140px;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 1050px) {
  .prev-text-wrapper {
    padding: 0;
  }
  .prev-text-wrapper h4 {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 950px) {
  .prev-text-wrapper p {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 710px) {
  .meer-title {
    margin-top: 0;
  }
  .meer-wrapper {
    margin-bottom: -5rem;
  }
}

@media screen and (max-width: 600px) {
  .meer-title {
    font-size: 10px;
    margin-bottom: 3rem;
  }
  .meer-title::after {
    width: 70%;
    margin-left: 0;
  }
  .meer-inner-wrapper {
    height: 70%;
  }
}
