@import url(//db.onlinewebfonts.com/c/9f94dc20bb2a09c15241d3a880b7ad01?family=Menlo);

.e1k478qz0 {
  flex-direction: column;
}

.banner-media-page {
  width: 100%;
  height: 520px;
  background-image: url("https://live.staticflickr.com/65535/51883144082_7c72eee258_k.jpg");
  background-size: cover;
  background-position: 10% 20%;
}

.media-page-title {
  width: 30%;
  height: 145px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 420px;
  margin: auto;
}

.media-page-title h1 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.gray-line {
  width: 100%;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.04);
}

.media-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto 0 auto;
  width: 90%;
  max-width: 900px;
}

.text-wrapper-media-page {
  font-family: "Menlo, sans-serif";
  font-size: 13px;
  word-spacing: 2px;
}

.text-wrapper-media-page p {
  font-size: 12px;
  font-family: "Menlo";
  text-align: center;
}

.media-posts-article {
  background-color: rgba(0, 0, 0, 0.04);
  margin-top: 2rem;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  height: 325px;
  order: -1;
}

.article-inner-wrapper-media div p {
  width: 65%;
  margin-top: 2rem;
  margin-left: calc(125px + 7rem);
}

strong {
  text-align: center;
}

.media-posts-article figure img {
  width: 195px;
  height: 325px;
  object-fit: cover;
  object-position: center;
}

.media-page-wrapper a {
  background-color: #51615f;
  height: 30px;
  width: 265px;
  box-shadow: none;
  border: none;
  cursor: pointer;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.article-inner-wrapper-media a {
  float: right;
  position: relative;
  top: -6vh;
  right: 25%;
  color: white;
}

.links-wrapper {
  display: flex;
}

.links-wrapper a {
  margin-top: 8rem;
  margin-right: 1rem;
}

@media screen and (max-width: 992px) {
  .article-inner-wrapper-media a {
    right: 20%;
  }
}

@media screen and (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    height: unset;
  }

  .article-inner-wrapper-media div figure span img,
  .article-inner-wrapper-media div figure {
    margin: auto;
    margin-right: 0.5rem;
    width: 90%;
    height: 80%;

    margin-top: 1rem;
  }

  .article-inner-wrapper-media {
    padding-bottom: 1rem;
  }

  .article-inner-wrapper-media div p {
    width: 90%;
    margin-top: unset;
    margin-left: unset;
    text-align: center;
    margin: auto;
  }

  .article-inner-wrapper-media a {
    float: unset;
    position: unset;
    top: unset;
    right: unset;
    margin: 1rem auto auto auto;
  }
}
