@import url("http://fonts.cdnfonts.com/css/menlo");

:root {
  --main-font: arial, helvetica, sans-serif;
  --main-size: 13px;
  --main-spacing: 1px;
  --main-weight: normal;
  --main-color: #444444;
  --alt-size: 15px;
}

body {
  background-color: rgba(0, 0, 0, 0.04);
}

.producties-page-wrapper {
  width: 90%;
  max-width: 1000px;
  background-color: #fff;
  margin-top: 10rem;
}

.excerpt-beginning-page {
  font-family: var(--main-font);
  font-size: var(--main-size);
  word-spacing: 2px;
  letter-spacing: var(--main-spacing);
  font-weight: var(--main-weight);
  color: var(--main-color);
  width: 70%;
  margin: 2rem auto 1rem auto;
}

.etzcgit1 {
  margin-top: 0 !important;
}

.producties-article {
  width: 300px;
  background-color: rgba(0, 0, 0, 0.04);
  margin-bottom: 1rem;
  margin: 2rem auto;
}

.producties-article img {
  width: 300px !important;
  height: 300px !important;
  object-fit: cover !important;
}

.producties-article h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #51615f;
  text-align: center;
  margin: 2rem 0 2rem 0;
}

.producties-article p {
  font-family: "Menlo", sans-serif;
  font-size: 12.5px;
  word-spacing: 2px;
  text-align: center;
  color: #444444;
  width: 90%;
  margin: 2rem auto 2rem auto;
}

.producties-article a {
  font-family: "Menlo", sans-serif;
  font-size: 11px;
  text-align: center;
  width: 90%;
  margin: 2rem auto 2rem auto;
}
